# ::::::::::::::::::::::::::::::::::::::::::::::::::::::
# :: Modified Kademlia Configuration for GossipSub
# ::::::::::::::::::::::::::::::::::::::::::::::::::::::

# ::::: GLOBAL ::::::

# Network size
SIZE 8200

# Random seed
K 5

MINDELAY  50
MAXDELAY  300

# Simulation Time
SIM_TIME 4000

TRAFFIC_STEP  12000  # 12 sec
BANDWIDTH_CONTROLLER_STEP 100
OBSERVER_STEP 100000
TURBULENCE_STEP  (SIM_TIME*20)/SIZE  # 100000000/SIZE

# Number of copies a given row/column will be distributed by the block producer
NUMBER_COPIES_DISTRIBUTED 1

# Number of Topics
NUMBER_OF_TOPICS 64

# Number of rows and cols in the data block
NUMBER_OF_ROWS 512
NUMBER_OF_COLUMNS 512

# Number of validator nodes
NUMBER_OF_VALIDATORS 8192

# Number of rows and cols per topic
NUMBER_OF_ROWSCOLS_IN_A_TOPIC 16  # Each row/col will be held by 8 nodes

# Maximum interface bandwidth
INTERFACE_BANDWIDTH 12500000  # 100 Megabits per sec (100,000,000bits ÷ 8 = 12,500,000 bytes)

# Block Producer bandwidth
BLOCK_PRODUCER_BANDWIDTH 1250000000  # 10 Gigabits per sec (10,000,000,000bits ÷ 8 = 1,250,000,000 bytes)

# Distribution strategy:
# 1 - Normal (sends whole rows/cols)
# 2 - Sharded parts (divided into sections)
# 3 - Redundancy-based distribution
DISTRIBUTION_STRATEGY 3

# ::::: Network :::::

random.seed 24680

simulation.experiments 1
simulation.endtime SIM_TIME
network.size SIZE

# ::::: LAYERS :::::

protocol.1uniftr peersim.transport.UniformRandomTransport
protocol.1uniftr.mindelay MINDELAY
protocol.1uniftr.maxdelay MAXDELAY

protocol.2unreltr peersim.transport.UnreliableTransport
protocol.2unreltr.drop 0
protocol.2unreltr.transport 1uniftr

protocol.3GossipSub peersim.GossipSub.GossipSubProtocol
protocol.3GossipSub.transport 2unreltr

# ::::: INITIALIZERS :::::

init.1uniqueNodeID peersim.GossipSub.CustomDistribution
init.1uniqueNodeID.protocol 3GossipSub

# ::::: CONTROLS :::::

# Traffic generator
control.0traffic peersim.GossipSub.TrafficGenerator
control.0traffic.protocol 3GossipSub
control.0traffic.step TRAFFIC_STEP

# Dynamic Mesh Control - Adjusts mesh size and prints structure
control.1dynamicMesh peersim.GossipSub.DynamicMeshControl
control.1dynamicMesh.protocol 3GossipSub
control.1dynamicMesh.step BANDWIDTH_CONTROLLER_STEP  # Runs periodically

# Observer - Monitors GossipSub performance
control.2observer peersim.GossipSub.GossipSubObserver
control.2observer.protocol 3GossipSub
control.2observer.step SIM_TIME-1
