########################################################################
#  Gossip + Malicious Configuration Example
########################################################################

# ::::: GLOBAL :::::

SIZE 16384
NUMBER_OF_VALIDATORS 16384
SIM_TIME 4000
K 5

NUMBER_OF_TOPICS 1024
NUMBER_ROWS_OR_COLS_PER_TOPIC 1
SAMPLE_AMOUNT 512

MINDELAY  50
MAXDELAY  300

MIN_DEGREE 6 
MAX_DEGREE 16
DEGREE 8

DEBUG_GOSSIPSUB true

TRAFFIC_STEP 12000
BANDWIDTH_CONTROLLER_STEP 100
OBSERVER_STEP 100000
TURBULENCE_STEP (SIM_TIME*20)/SIZE

NUMBER_COPIES_DISTRIBUTED 2

NUMBER_OF_ROWS 512
NUMBER_OF_COLUMNS 512

INTERFACE_BANDWIDTH 12500000
BLOCK_PRODUCER_BANDWIDTH 1250000000

DISTRIBUTION_STRATEGY 3
NUMBER_OF_ROWS_AND_COLS_IN_A_TOPIC (NUMBER_OF_ROWS+NUMBER_OF_COLUMNS)/NUMBER_OF_TOPICS
NUMBER_OF_VALIDATORS_PER_TOPIC NUMBER_OF_VALIDATORS/NUMBER_OF_TOPICS

random.seed 24680
simulation.experiments 1
simulation.endtime SIM_TIME
network.size SIZE


########################################################################
# ::::: PROTOCOL DEFINITIONS ::::: 
########################################################################

# 1) Uniform Random Transport (for basic latency)
protocol.1uniftr peersim.transport.UniformRandomTransport
protocol.1uniftr.mindelay MINDELAY
protocol.1uniftr.maxdelay MAXDELAY

# 2) UnreliableTransport that uses the above random transport
protocol.2unreltr peersim.transport.UnreliableTransport
protocol.2unreltr.drop 0
protocol.2unreltr.transport 1uniftr

# 3) Normal GossipSub protocol
protocol.3GossipSub peersim.GossipSub.GossipSubProtocol
protocol.3GossipSub.transport 2unreltr

# 4) Malicious GossipSub protocol (partial omission at 30%).
# protocol.4MaliciousGossipSub peersim.GossipSub.MaliciousGossipSubProtocol
# protocol.4MaliciousGossipSub.transport 2unreltr
# protocol.4MaliciousGossipSub.dropProbability 0.3


########################################################################
# ::::: INITIALIZERS ::::: 
########################################################################

# 1) Assign unique node IDs, build topics, etc.
init.1uniqueNodeID peersim.GossipSub.CustomDistribution
init.1uniqueNodeID.protocol 3GossipSub

# 2) Make some subset of nodes malicious
#    This assumes you have an initializer called MaliciousGossipSubInitializer
#    that can override the protocol on N nodes with the malicious version.
# init.2maliciousInit peersim.GossipSub.MaliciousGossipSubInitializer
# init.2maliciousInit.normalProtocolPid 3GossipSub
# init.2maliciousInit.maliciousProtocolPid 4MaliciousGossipSub
# init.2maliciousInit.maliciousCount 1000


########################################################################
# ::::: CONTROLS ::::: 
########################################################################

# (Optional) Traffic generator 
control.0traffic peersim.GossipSub.TrafficGenerator
control.0traffic.protocol 3GossipSub
control.0traffic.step TRAFFIC_STEP

# (Optional) Dynamic Mesh 
control.1dynamicMesh peersim.GossipSub.DynamicMeshControl
control.1dynamicMesh.protocol 3GossipSub
control.1dynamicMesh.step BANDWIDTH_CONTROLLER_STEP

# (Optional) GossipSub Observer 
control.3 peersim.GossipSub.GossipSubObserver
control.3.protocol 3GossipSub
control.3.step SIM_TIME-1
