# ::::::::::::::::::::::::::::::::::::::::::::::::::::::
# :: Kademlia Default Configuration
# ::::::::::::::::::::::::::::::::::::::::::::::::::::::

# ::::: GLOBAL ::::::

# Network size
SIZE 16400
# SIZE 4100

#Number validator nodes
NUMBER_OF_VALIDATORS 16384
# NUMBER_OF_VALIDATORS 4096

# Simulation time
SIM_TIME 4000


# Random seed
K 5

#Number of Topics
#NUMBER_OF_TOPICS 64
NUMBER_OF_TOPICS 1024

#NUMBER_ROWS_OR_COLS_PER_TOPIC NUMBER_OF_ROWS/NUMBER_OF_TOPICS
NUMBER_ROWS_OR_COLS_PER_TOPIC 1 # For topic number = 1024

# Sample Amount 
SAMPLE_AMOUNT 512

MINDELAY  50
MAXDELAY  300

# Mesh Degree 
MIN_DEGREE 6 
MAX_DEGREE 16
DEGREE 8

# Debug
DEBUG_GOSSIPSUB false 
#SIM_TIME 1000*60*60


TRAFFIC_STEP  12000 #12 sec
BANDWIDTH_CONTROLLER_STEP 100
OBSERVER_STEP 100000
TURBULENCE_STEP  (SIM_TIME*20)/SIZE   #100000000/SIZE

#Number of copies a given row/column will be distributed by the block producer
NUMBER_COPIES_DISTRIBUTED 2

#number of rows and col in the data block
NUMBER_OF_ROWS 512
NUMBER_OF_COLUMNS 512


#Maximum interface bandwidth
INTERFACE_BANDWIDTH 12500000 #100 Megabits per sec(equals to 100,000,000bits÷8=12,500,000bytes)

#Block Producer bandwidth
BLOCK_PRODUCER_BANDWIDTH 1250000000 #10 Gigabits per sec(equals 10,000,000,000bits÷8=12,500,000,00bytes)

# Distribution stragerty. 2 for sharded part where the rows/cols are divided into parts. 3 For redundancy based distribution
DISTRIBUTION_STRATEGY 3

#Number of rows and cols per topic
NUMBER_OF_ROWS_AND_COLS_IN_A_TOPIC (NUMBER_OF_ROWS+NUMBER_OF_COLUMNS)/NUMBER_OF_TOPICS # Each row/col will be held by 8 nodes

NUMBER_OF_VALIDATORS_PER_TOPIC NUMBER_OF_VALIDATORS/NUMBER_OF_TOPICS
# NOTE: Assumption number of validators in a topic will always be >= NUMBER_OF_ROWS_AND_COLS_IN_A_TOPIC

# NUMBER_OF_ROW_OR_COLUMN_HOLDERS_PER_TOPIC (NUMBER_OF_VALIDATORS_PER_TOPIC/2)/NUMBER_ROWS_OR_COLS_PER_TOPIC

# NOTE
# NUMBER_OF_ROWS & NUMBER_OF_COLUMNS will always be even as a data blob after earase coding will always form even by even matrix (Fact)
# NUMBER_OF_VALIDATORS_PER_TOPIC always has to be whole number (assumptions)


# ::::: network :::::
random.seed 24680

simulation.experiments 1

simulation.endtime SIM_TIME

network.size SIZE

# ::::: LAYERS :::::
#protocol.0link peersim.core.IdleProtocol

protocol.1uniftr peersim.transport.UniformRandomTransport
protocol.1uniftr.mindelay MINDELAY
protocol.1uniftr.maxdelay MAXDELAY

protocol.2unreltr peersim.transport.UnreliableTransport
protocol.2unreltr.drop 0
protocol.2unreltr.transport 1uniftr

protocol.3GossipSub peersim.GossipSub.GossipSubProtocol
protocol.3GossipSub.transport 2unreltr
#protocol.3kademlia.BITS 32


# ::::: INITIALIZERS :::::
#init.0randlink peersim.dynamics.WireKOut
#init.0randlink.k K
#init.0randlink.protocol 0link

init.1uniqueNodeID peersim.GossipSub.CustomDistribution
init.1uniqueNodeID.protocol 3GossipSub

#init.2statebuilder peersim.GossipSub.StateBuilder
#init.2statebuilder.protocol 3GossipSub
#init.2statebuilder.transport 2unreltr

# ::::: CONTROLS :::::

# traffic generator
control.0traffic peersim.GossipSub.TrafficGenerator
control.0traffic.protocol 3GossipSub
control.0traffic.step TRAFFIC_STEP

# turbolence
#control.2turbolenceAdd peersim.kademlia.Turbulence
#control.2turbolenceAdd.protocol 3kademlia
#control.2turbolenceAdd.transport 2unreltr
#control.2turbolenceAdd.step TURBULENCE_STEP
#control.2turbolenceAdd.p_idle 0.5
#control.2turbolenceAdd.p_rem 0.25
#control.2turbolenceAdd.p_add 0.25

# Dynamic Mesh Control - Adjusts mesh size and prints structure
control.1dynamicMesh peersim.GossipSub.DynamicMeshControl
control.1dynamicMesh.protocol 3GossipSub
control.1dynamicMesh.step BANDWIDTH_CONTROLLER_STEP 

# ::::: OBSERVER :::::
control.3 peersim.GossipSub.GossipSubObserver
control.3.protocol 3GossipSub
control.3.step SIM_TIME-1

# Number of valiators = 8192
# Number of topics = 64
# Number of row = Number of column = 512
# Number of rows per topic = 512/64 = 8
# Number of cols per topic = 512/64 = 8
# Number of validators per topic = 8192/64 = 128 (64 for rows and 64 for custodying col)
# Number of row Custodiers = Number of validators meant to hold row per topic / Number or rows per topic = 64/8
# Number of col Custodiers = Number of validators meant to hold col per topic / Number or cols per topic = 64/8


