# ::::::::::::::::::::::::::::::::::::::::::::::::::::::
# :: Kademlia Default Configuration
# ::::::::::::::::::::::::::::::::::::::::::::::::::::::

# ::::: GLOBAL ::::::

# Network size
SIZE 8200

# Random seed
K 5

MINDELAY  50
MAXDELAY  300

#SIM_TIME 1000*60*60

SIM_TIME 4000

TRAFFIC_STEP  12000 #12 sec
BANDWIDTH_CONTROLLER_STEP 100
OBSERVER_STEP 100000
TURBULENCE_STEP  (SIM_TIME*20)/SIZE   #100000000/SIZE

#Number of copies a given row/column will be distributed by the block producer
NUMBER_COPIES_DISTRIBUTED 1

#Number of Topics
NUMBER_OF_TOPICS 64

#number of rows and col in the data block
NUMBER_OF_ROWS 512
NUMBER_OF_COLUMNS 512

#Number validator nodes
NUMBER_OF_VALIDATORS 8192

#Number of rows and cols per topic
NUMBER_OF_ROWSCOLS_IN_A_TOPIC 16 # Each row/col will be held by 8 nodes

#Maximum interface bandwidth
INTERFACE_BANDWIDTH 12500000 #100 Megabits per sec(equals to 100,000,000bits÷8=12,500,000bytes)

#Block Producer bandwidth
BLOCK_PRODUCER_BANDWIDTH 1250000000 #10 Gigabits per sec(equals 10,000,000,000bits÷8=12,500,000,00bytes)

# Distribution stragerty. 1 For normal/sending whole rows/cols. 2 for sharded part where the rows/cols are divided into parts. 3 For redundancy based distribution
DISTRIBUTION_STRATEGY 2
# ::::: network :::::
random.seed 24680

simulation.experiments 1

simulation.endtime SIM_TIME

network.size SIZE

# ::::: LAYERS :::::
#protocol.0link peersim.core.IdleProtocol

protocol.1uniftr peersim.transport.UniformRandomTransport
protocol.1uniftr.mindelay MINDELAY
protocol.1uniftr.maxdelay MAXDELAY

protocol.2unreltr peersim.transport.UnreliableTransport
protocol.2unreltr.drop 0
protocol.2unreltr.transport 1uniftr

protocol.3GossipSub peersim.gossipsub.GossipSubProtocol
protocol.3GossipSub.transport 2unreltr
#protocol.3kademlia.BITS 32


# ::::: INITIALIZERS :::::
#init.0randlink peersim.dynamics.WireKOut
#init.0randlink.k K
#init.0randlink.protocol 0link

init.1uniqueNodeID peersim.gossipsub.CustomDistribution
init.1uniqueNodeID.protocol 3GossipSub

#init.2statebuilder peersim.GossipSub.StateBuilder
#init.2statebuilder.protocol 3GossipSub
#init.2statebuilder.transport 2unreltr

# ::::: CONTROLS :::::

# traffic generator
control.0traffic peersim.gossipsub.TrafficGenerator
control.0traffic.protocol 3GossipSub
control.0traffic.step TRAFFIC_STEP

# turbolence
#control.2turbolenceAdd peersim.kademlia.Turbulence
#control.2turbolenceAdd.protocol 3kademlia
#control.2turbolenceAdd.transport 2unreltr
#control.2turbolenceAdd.step TURBULENCE_STEP
#control.2turbolenceAdd.p_idle 0.5
#control.2turbolenceAdd.p_rem 0.25
#control.2turbolenceAdd.p_add 0.25

# ::::: OBSERVER :::::
control.3 peersim.gossipsub.GossipSubObserver
control.3.protocol 3GossipSub
control.3.step SIM_TIME-1

